@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --skyblue: 136, 213, 254;
  --seafoam: 131, 255, 205;
  --primary: 0, 158, 224;
  --secondary: 131, 255, 205;
  --dark: 51, 50, 61;
  --mid: 85, 84, 95;
  --light: 187, 186, 191;
}


.std-button-lite {
  @apply py-2 px-3 bg-primary text-white rounded-md hover:brightness-[1.2] flex items-center gap-2 duration-200
}

.std-button-lite:disabled {
  @apply opacity-50 hover:bg-primary
}

.std-input {
  @apply p-2 bg-white/70 rounded-md
}